#Estructuras de control y funciones basicas
##Uso de IF

In [ ]:
# if simple
nro_de_clientes = 99

if nro_de_clientes == 999:
  print('es el cliente 999')
else: 
  print('cliente no encontrado')

cliente no encontrado

In [ ]:
#if anidado
nro_de_clientes = 111

if nro_de_clientes == 999:
  print('es el cliente 999')
elif nro_de_clientes == 111: 
  print('es el cliente 111')
else: 
  print('cliente no encontrado')

es el cliente 111

##Uso del While

In [ ]:
# while imprimir tres elementos
i = 0
while(i<3):
  i = i+1
  print(i)

1
2
3

In [ ]:
# while bucle infinito
while(1):
  x1= input('多Nombre?')
  print('Bienvenido ' + x1)

In [ ]:
# while bucle con condicion de escape
while(1):
  x1= input('多Nombre?')

  if x1== 'salida':
    break
  
  print('Bienvenido ' + x1)

多Nombre?salida

## Para que usar el while si hay for!

In [ ]:
lista = [1,2,3,4]

In [ ]:
for i in lista:
  print(i)

1
2
3
4

In [ ]:
for i in lista:

  if i == 3:
    break
    
  print(i)

1
2

## 多Como usar un for sobre pandas dataframe?

In [ ]:
import pandas as pd

# pd.read_csv(filepath_of_buffer = 'link', sep = ',') Asi se escribe si queremos leerlo desde una url
d_regiones = pd.read_csv('/content/drive/MyDrive/Intro Phyton/WHO_Regions.csv', sep= ',')
d_regiones.head()

     Country           Region
0    Algeria           Africa
1  Argentina         Americas
2  Australia  Western Pacific
3    Austria           Europe
4    Belarus           Europe

In [ ]:
# no hacerlo asi es incorrecto
for row in d_regiones:
  print(row)

Country
Region

In [ ]:
# la forma correcta es usando la funcion iterrows()
for label, row in d_regiones[:2].iterrows(): # el label es la posicion 
  print('El label es: ' + str(label)) #importante castear el label a string para que pueda concatenar
  print(row)

El label es: 0
Country    Algeria
Region      Africa
Name: 0, dtype: object
El label es: 1
Country    Argentina
Region      Americas
Name: 1, dtype: object

In [ ]:
#Accediendo a cada valor sin usar el label solo el row
for _, row in d_regiones[:5].iterrows():
  print('Pais: ' + row['Country'] + ' Continente: ' + row['Region'] )

Pais: Algeria Continente: Africa
Pais: Argentina Continente: Americas
Pais: Australia Continente: Western Pacific
Pais: Austria Continente: Europe
Pais: Belarus Continente: Europe

## 多Como crear y explorar funciones en Python?

In [ ]:
def mi_funcion():
  print('hola mundo')

In [ ]:
mi_funcion()

hola mundo

## 多Como crear una funcion con parametros?

In [ ]:
def sumar(x1,x2):
  return x1+x2

In [ ]:
sumar(1,1)

2